.nav__div-hawaii {
    width: 100%;
    padding: 0rem 5rem 0rem 5rem;
    justify-content: space-between;
}
.nav__ul-hawaii {
    display: flex;
    position: absolute;
    gap: 1rem;
    right: 0;
    padding-right: 3.5rem;
}
.nav__container {
    display: flex;
    padding: 0rem;
    margin: 0rem;
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3;
}
ul > li {
    margin: 0rem 0.5rem;
}
p {
    font-size: 10rem;
}