.main__h1-destination {
    width: 100%;
    height: 5px;
    background-color: white;
    padding-left: 4.5rem;
    color: black;
    margin: 3rem;
    font-size: 60;
    padding-top: 4rem;
}
.article__p-destination {
    background-color: #fefaf5;
    height: 30px;
}
.main__card-destination {
    display: inline-block;
    text-align: center;
    margin: 3rem 2rem 2rem 2rem;
    padding: 0rem 1rem 4rem 1rem;
    background-color: white;
}
.article__p-span {
    border-bottom: solid 3px;
    padding: 0rem 4rem;
    border-color: black;
    width: 0px;
    margin: 0rem;
}
.main__div-destination {
    display: flex;
    justify-content: center;
}
.main__img-destination {
    width: 100%;
    height: 100px;
}
.body__hawaii {
    background-image: url(../2.0 - Assets/Images/hawaii.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.nav__destination {
    border-bottom: solid 5px;
    padding-bottom: 4px;
    border-color: #DB7A4E;
}
.body__iceland {
    background-image: url(../2.0 - Assets/Images/iceland.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.body__greece {
    background-image: url(../2.0 - Assets/Images/greece.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}